---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "July 2024 - Currently",
    title: "Frontend Web Developer for SEAT",
    company: "VASS",
    description:
      "Working as a frontend developer specializing in Angular for the development and maintenance of in-car infotainment systems for SEAT and CUPRA.",
    link: "https://www.vasscompany.com",
  },
  {
    date: "December 2023 - July 2024",
    title: "Fullstack Developer",
    company: "SEAT, S.A.",
    description:
      "Worked on a web application development project with Angular and Node, contributing to the creation of an analytics system using Angular, Node, Python, NestJS, and PostgreSQL.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
