---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "July 2024 - Present",
    title: "Frontend Web Developer for SEAT",
    company: "VASS",
    description:
      "Frontend Developer specializing in Angular, responsible for the development and maintenance of in-car infotainment systems for SEAT and CUPRA. Tasks include integrating user interfaces, ensuring performance and reliability, and providing support for a shared library used across multiple projects. Collaborate within large, agile teams to deliver solutions meeting technical and business requirements. Technologies used: Angular, Git, Jira, Confluence.",
  },
  {
    date: "September 2023 - July 2024",
    title: "Fullstack Developer",
    company: "SEAT, S.A.",
    description:
      "Worked on web application development projects using Angular and Node. Designed, developed, and tested solutions, including an end-to-end analytics system using Angular, Node, Python, NestJS, and PostgreSQL. Conducted research on new technologies, prepared technical documentation, and automated CI/CD tasks with Jenkins. Technologies used: Angular, Node, Python, PostgreSQL, NestJS, Git, Jira, Confluence, C#, Bash, Jenkins.",
  },
  {
    date: "November 2020 - September 2023",
    title: "Cashier and Warehouse Assistant",
    company: "Auchan Retail, Charter",
    description:
      "Developed strong soft skills such as empathy, patience, and effective communication while providing customer service in a retail environment. Managed transactions, assisted with store operations, and performed warehouse tasks, including inventory organization and restocking. Gained experience in teamwork and adaptability in a fast-paced setting.",
},
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
